[submodule ".vim/bundle/vim-operator-user"]
	path = .vim/bundle/vim-operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule "vim-operator-user"]
	path = vim-operator-user
	url = git://github.com/kana/vim-operator-user.git
[submodule ".vim/bundle/vim-operator-replace"]
	path = .vim/bundle/vim-operator-replace
	url = git://github.com/kana/vim-operator-replace.git
[submodule "test_submodule"]
	path = test_submodule
	url = git@github.com:vimtaku/sample3.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = git://github.com/Shougo/vimshell.git
[submodule ".vim/bundle/unite.vim"]
	path = .vim/bundle/unite.vim
	url = git://github.com/Shougo/unite.vim.git
[submodule ".vim/bundle/vim-ref"]
	path = .vim/bundle/vim-ref
	url = git://github.com/thinca/vim-ref.git
[submodule ".vim/bundle/perldoc-vim"]
	path = .vim/bundle/perldoc-vim
	url = git://github.com/mattn/perldoc-vim.git
[submodule ".vim/bundle/perlomni.vim"]
	path = .vim/bundle/perlomni.vim
	url = git://github.com/c9s/perlomni.vim.git
[submodule ".vim/bundle/vim-textobj-plugins"]
	path = .vim/bundle/vim-textobj-plugins
	url = git://github.com/thinca/vim-textobj-plugins.git
[submodule ".vim/bundle/vim-alignta"]
	path = .vim/bundle/vim-alignta
	url = git://github.com/h1mesuke/vim-alignta.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/vim-textobj-user"]
	path = .vim/bundle/vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule ".vim/bundle/quickrun"]
	path = .vim/bundle/quickrun
	url = git://github.com/ujihisa/quickrun.git
[submodule ".vim/bundle/vim-textobj-comment"]
	path = .vim/bundle/vim-textobj-comment
	url = git://github.com/thinca/vim-textobj-comment.git
[submodule ".vim/bundle/vim-textobj-between"]
	path = .vim/bundle/vim-textobj-between
	url = git://github.com/thinca/vim-textobj-between.git
[submodule ".vim/bundle/vim-unite-svn"]
	path = .vim/bundle/vim-unite-svn
	url = git://github.com/kmnk/vim-unite-svn.git
