
snippet comment
	<TMPL_IF EXPR=0><!-- ${1} --></TMPL_IF>

snippet var
	<TMPL_VAR EXPR="${1}">

snippet if
	<TMPL_IF NAME="">${1}</TMPL_IF>

snippet ife
	<TMPL_IF EXPR="">${1}</TMPL_IF>

snippet else
	<TMPL_ELSE>

snippet unless
	<TMPL_UNLESS EXPR="">${1}</TMPL_UNLESS>

