[user]
    email = vimtaku@gmail.com
    name = vimtaku
[core]
    editor = vim
	excludesfile = /Users/vimtaku/.gitignore_global

[alias]
    b = branch
    st = status
    di = diff
    co = checkout
    ci = commit
[color]
    ui = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[init]
	templatedir = /Users/vimtaku/.git_template/

[push]
	default = current
